 
@{
    ViewBag.Title = @CaregiverLite.Views.Resources.Account.TitleForgotPassword;
    Layout = null;
}
 

<head>
    <title>PaSeva</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/Title_icon.png">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
</head>





<style> 
    .leftdiv {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    } 
    @@media(max-width:768px) {
        img {
            width: 100%;
        }
    }
</style>

<div class="container-fluid" style="padding-left:0px">
    <div class="row">
        <div class="col-md-7  col-sm-7 col-xs-7" style="height: 100%;">
            <div class="leftdiv">
                <img id="pasevalogo" src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/ForgetPasswordLeftImage.png" style="height: 130px;" />

            </div>

        </div>
        <div class="col-md-5  col-sm-5 col-xs-5" style="color: #1B1B1C">

            <div class="row" style="margin-top:40%">
                <div class="col-md-12"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="20px" viewBox="0 0 26 24" fill="none">
    <path d="M20.5833 0.0664062H5.41667C3.98061 0.0681264 2.60385 0.639362 1.5884 1.65481C0.572955 2.67026 0.00172018 4.04701 0 5.48307L0 18.4831C0.00172018 19.9191 0.572955 21.2959 1.5884 22.3113C2.60385 23.3268 3.98061 23.898 5.41667 23.8997H20.5833C22.0194 23.898 23.3961 23.3268 24.4116 22.3113C25.427 21.2959 25.9983 19.9191 26 18.4831V5.48307C25.9983 4.04701 25.427 2.67026 24.4116 1.65481C23.3961 0.639362 22.0194 0.0681264 20.5833 0.0664062ZM5.41667 2.23307H20.5833C21.232 2.23435 21.8655 2.42971 22.4022 2.79403C22.9389 3.15834 23.3543 3.67493 23.595 4.27732L15.2988 12.5746C14.6883 13.1827 13.8617 13.5241 13 13.5241C12.1383 13.5241 11.3117 13.1827 10.7012 12.5746L2.405 4.27732C2.64566 3.67493 3.06108 3.15834 3.5978 2.79403C4.13452 2.42971 4.76798 2.23435 5.41667 2.23307ZM20.5833 21.7331H5.41667C4.55471 21.7331 3.72806 21.3907 3.11857 20.7812C2.50908 20.1717 2.16667 19.345 2.16667 18.4831V7.10807L9.16933 14.1064C10.1862 15.1207 11.5638 15.6903 13 15.6903C14.4362 15.6903 15.8138 15.1207 16.8307 14.1064L23.8333 7.10807V18.4831C23.8333 19.345 23.4909 20.1717 22.8814 20.7812C22.2719 21.3907 21.4453 21.7331 20.5833 21.7331Z" fill="#1F305B" />
</svg>
                 
                    <span style="font-weight: bold;  color: #1F305B;font-size:18px"><b>Check Email Inbox</b></span>

                </div>
              
                <div class="col-md-12" style="margin-top: 20px;width: 79%;">                   
                   
                    <span id="spError" style="color: #464748;font-size:18px"></span>
                </div>
                <div class="col-md-12" style="margin-top:15px">

                    <span style="font-weight: bold; "><a style="color: #1F305B;" href="@Url.Action("Login", "Account")">Back to Login</a></span>
                </div>
            </div>
        </div>
       
    </div>
</div>

 

<script>
    $(document).ready(function () {
        var tempMsg = '@TempData["RegisteredEmail"]';
        var Emailmsg = "";
        if (tempMsg != "") {
            Emailmsg = "We’ve sent a password reset link to your email: <strong>" + tempMsg + "</strong> Please check your inbox to reset your password.";
            $("#spError").html(Emailmsg);
        }
        else {
            $("#spError").html("");
        }
    }); 
</script>
