
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PasswordChangedSuccessful</title>
    <style>

        .pagealign {
            margin: 150px 450px 0px 450px;
       
        }
        @@media (min-width:320px) and (max-width:480px) {
            .pagealign {
                margin: 150px 0px 0px 0px;
            }
        }
    </style>

    <script>  
 
    function Backtologin() {        
          window.location.href = "@Url.Action("Login", "account")";
     }
    </script>
</head>
<body>
    <div class="container" style="text-align: center;"> 
        <div class="row pagealign" >
            <div class="col-md-12">
                <img style="text-align: left;height: 80px; width:80px" src="http://ec2-52-38-33-252.us-west-2.compute.amazonaws.com/Content/image/PasswordSuccess.png" />
            </div>
            <div class="col-md-12" style="margin-top: 40px;">
                <span class="fw-normal mb-3 pb-3 regular-text" style="font-weight: bold;  color: #1F305B;font-size:30px;font-family: 'Open Sans', 'Roboto', sans-serif;"><b>Password changed successfully</b></span>
            </div>
            <div class="col-md-12" style="margin-top: 25px;">
                <span   style="color:#1F305B;font-size: 13px;padding-left: 6px;font-weight: bold;	font-family: 'Open Sans', 'Roboto', sans-serif;">you have been logged out, please relogin using new credentials.</span>
            </div>
            <div class="col-md-12" style="margin-top: 30px;">
                <button class="btn btn-primary btn-lg btn-block" type="button" style="background-color: #1F305B; cursor:pointer;   height: 44px;    font-size: 15px;    width: 46%;    padding: 0px;    border-radius: 6px;    color: white;" onclick="Backtologin();">
                   Back to Login
                </button>
            </div>
        </div>
    </div>
</body>
</html>
