<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <connectionStrings>
    <add name="ConStringCareGiver" connectionString="Data Source=pasevalite.cwbk1q3wsvsy.us-west-2.rds.amazonaws.com;Initial Catalog=CaregiverLite;User ID=pasevalite_sa;Password=Pa53vAL!TeD82oi7" providerName="System.Data.SqlClient" />
    <!--<add name="ConStringCareGiver" connectionString="Data Source=caregiver.cwbk1q3wsvsy.us-west-2.rds.amazonaws.com;Initial Catalog=CaregiverLite;User ID=caregiver_user;Password=CaR3g!V3r20i5" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConStringCareGiver" connectionString="Data Source=DESKTOP-25NA6O3\DIFFERENZ118;Initial Catalog=CaregiverLite_06-10-2017;User ID=sa;Password=welcome" providerName="System.Data.SqlClient" />-->
   <!--<add name="ConStringCareGiver" connectionString="Data Source=DIFFERENZ103;Initial Catalog=CaregiverLite_02-11-2017;User ID=sa;Password=welcome" providerName="System.Data.SqlClient" />-->
  
  
  </connectionStrings>
  <appSettings>

    <!--New Live Credentioals Put in live caregiverLite Web Web.config-->
    <add key="QuickbloxApp_Id" value="59230"/>
    <add key="QuickbloxAuth_Key" value="SV2czdXSOafbMNm"/>
    <add key="QuickbloxAuth_Secret" value="pru2MGmJxj7zedX"/>
    <add key ="QuickbloxAPIUrl" value="https://apisoltapps.quickblox.com"/>
  
    
    <!--UAT Credentioals For Testting-->
    <!--<add key="QuickbloxApp_Id" value="59236" /> 
    <add key="QuickbloxAuth_Key" value="jN5Q93rSwv5v59x" /> 
    <add key="QuickbloxAuth_Secret" value="rxnybwjRs8tj4M5" /> 
    <add key="QuickbloxAPIUrl" value="https://apisoltapps.quickblox.com" />-->


    
    
    <!--Local-->
    <!--<add key="QuickbloxApp_Id" value="59238"/>
    <add key="QuickbloxAuth_Key" value="WHHk5nyH4Bxw2KL"/>
    <add key="QuickbloxAuth_Secret" value="v2g-sxqTW2WVC-J"/>
    <add key="QuickbloxAPIUrl" value="https://apisoltapps.quickblox.com"/>-->

    <!--UAT-->
    <!--<add key="SuperAdminUserId" value="D59FF81A-5F78-4D23-BE3B-C8630313E2BB"/>-->

    <!--Live & Local-->
    <add key="SuperAdminUserId" value="D59FF81A-5F78-4D23-BE3B-C8630313E2BA" />
    
    
    <add key="SuperAdminEmailId" value="superadmin@paseva.com" />

    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="ExportedFilePath" value="F:\HardikMasalawala\WorkOn\PaSeva_PGW_Latest\CaregiverLite\CaregiverLite\ExportedFile\" />-->
    
     <!--<add key="ExportedFilePath" value="C:\Users\admin\Desktop\PaSeva_Merge\04_11_2017_Merge\CaregiverLite\CaregiverLite\ExportedFile\" />
    <add key="DownlLoadFilePath" value="http://localhost:15177/ExportedFile/" />-->
    <!--<add key="WebServiceUrl" value="http://differenzuat.com/caregiverlitewcf/" />-->
    <!--<add key="NurseProfileImagePath" value="http://localhost:15177/image/CareGiverProfileImages/"/>-->
    <!--<add key="NurseProfileImagePath" value="F:\Development\CaregiverLite_Deployment\20-09-2017\CaregiverLite_deployed_UAT\CaregiverLitePatientGroupWise\CaregiverLiteMobileServices\CaregiverLiteMobileServices\Images\CareGiverProfileImages\" />-->
	

    
    <add key="WebServiceUrl" value="https://scheduler.paseva.com/caregiverlitewcf/" />
    <!--<add key="WebServiceUrl" value="http://localhost/PasevaWCF/" />-->
    <!--<add key="WebServiceUrl" value="http://localhost:15177/CaregiverliteWCF" />-->
    <!--<add key="WebServiceUrl" value="http://localhost/LocalCaregiverliteWCF/" />-->
    
    <!--<add key="WebServiceUrl" value="http://localhost:54015/PatientsService.svc"/>-->
    <!--<add key="WebServiceUrl" value="http://192.168.1.54/CareGiverWCF/" />-->

    <!--<add key="WebServiceUrl" value="http://ec2-52-26-141-201.us-west-2.compute.amazonaws.com/CareGiverWCF/" />-->
    <!--<add key="NurseProfileImageURL" value="C:\CareGiver\CareGiverSuperAdmin\CareGiverProfileImages" />-->
    <!--<add key="NurseProfileImageURL" value="E:\" />-->
    <!--<add key="CareGiverDocumentsURL" value="E:\" />-->
    
    <add key="NurseProfileImageURL" value="C:\Website\CaregiverLite\CaregiverLiteMobileService\Images\CareGiverProfileImages" />
    <add key="CareGiverProfileImagesURL" value="C:\Website\CaregiverLite\CaregiverLiteMobileService\Images\CareGiverProfileImages"/>
    <add key="NurseProfileImagePath" value="C:\Website\CaregiverLite\CaregiverLiteMobileService\Images\CareGiverProfileImages"/>
    <add key="CareGiverDocumentsURL" value="C:\Website\CaregiverLite\CaregiverLiteMobileService\Images\CareGiverDocuments" />

    <add key="DefaultCaregiverProfile" value="http://localhost:15177/image/physician_icon.png" />
	  <add key="ExportedFilePath" value="C:\Website\CaregiverLite\CaregiverLiteWeb\ExportedFile\" />
    <add key="DownlLoadFilePath" value="https://scheduler.paseva.com/ExportedFile/" />

    <!--<add key="CareGiverDocumentsURL" value="C:\CareGiver\CareGiverSuperAdmin\CareGiverDocuments" />-->

    <!--<add key="CareGiverDocumentsURL" value="http://ec2-52-26-141-201.us-west-2.compute.amazonaws.com/CareGiverSuperAdmin/CareGiverDocuments/" />-->

    <!--Stripe Test Keys-->
    <add key="SecretKey" value="sk_test_XwvjOX6u32ejKhsPBxm0arRP" />
    <add key="PublishableKey" value="pk_test_kdEdnZ15HeJBYUbPWPaSQfcJ" />
    <add key="Currency" value="USD" />

    <!--Testing Mode Stripe-->
    <add key="IsProductionEnable" value="0" />
    <add key="StripeApiKey" value="sk_test_OfPEY2bKh6s3Ejp562cCmDC7" />
    <add key="TestSecretKey" value="sk_test_XwvjOX6u32ejKhsPBxm0arRP" />
    <add key="TestPublishableKey" value="pk_test_vfVnLNt29hfHJ31YvkNQmtpK" />
    <add key="StripeClientId" value="ca_56iQTlZtt6woorVCY3JojnvsWPSCORGJ" />

    <add key="GetAccessTokenURL" value="https://connect.stripe.com/oauth/token" />
    <add key="GetAthorizedURL" value="https://connect.stripe.com/oauth/authorize" />
    <add key="StripeLoginUrl" value="https://connect.stripe.com/login" />
    <add key="MinimumAppointmentMinutes" value="60" />
    <add key="TravelBufferMinutes" value="30" />
    <add key="MinimumCancelHour" value="48" />
    <!--<add key="BrowserAPIKey" value="AIzaSyAaSyoPHQy4UnzurrgwQi9eHhhi0OxcLy4" />-->
    <add key="BrowserAPIKey" value="AIzaSyDVDf4FSn4yOdhCzo9EZyAks5cG73oq5cc" />
    <add key="MinimumAppointmentMinutes" value="60" />
    <add key="TravelBufferMinutes" value="30" />
    <add key="MinimumPayablePercentage" value="20" />
    <add key="MinimumCancelHour" value="48" />
    <add key="MaxDistance" value="5000" />
    
    <add key="GoogleMapAPIKey" value="AIzaSyAs_m2gdoR-5s2zWSH3L79SErQV83hT1eU" />
    <!-- iOS Push Notification-->

    <!--<add key="CertFileName" value="../Iphone Certificate/ckProduction.p12"  />-->
    <!--<add key="CertFileName" value="../Iphone Certificate/CareGiverDevelopment.p12"  />-->
    <add key="CertFileName" value="../Iphone Certificate/CareGiveLiteProduction_Copy.p12" />
    <!--<add key="CertFileName" value="../Iphone Certificate/CareGiveLiteProduction.p12"  />-->

    <!--<add key="CertPassword" value="fabio"/>-->
    <add key="CertPassword" value="welcome" />

    <!--<add key="CertFileName" value="../Iphone Certificate/ckProduction.p12"  />-->
    <add key="PatientCertFileName" value="../Iphone Certificate/PatientDevelopment.p12" />
    <!--<add key="CertPassword" value="fabio"/>-->
    <add key="PatientCertPassword" value="1" />

    <!--Live-->
    <add key="HostName" value="gateway.push.apple.com"></add>
    <add key="IsAPNSandBox" value="false" />
    <!--uat-->
    <!--<add key="HostName" value="gateway.sandbox.push.apple.com" ></add>
    <add key="IsAPNSandBox" value="true"/>-->
    <!-- For Local-->
    <add key="PortNo" value="2195"></add>
    <!-- For Local-->
    <!--<add key="IsAPNSandBox" value="false"/>-->
    <!--<add key="PortNo" value="2196"></add>-->

    <!-- iOS Push Notification-->

    <add key="StripePercentage" value="2.9" />
    <add key="StripeMinimumAmount" value="0.30" />
    <add key="MorningShiftStartTime" value="07:00AM" />
    <add key="MorningShiftEndTime" value="07:00PM" />
    <add key="NightShiftStartTime" value="07:00PM" />
    <add key="NightShiftEndTime" value="07:00AM" />
  </appSettings>
  <system.web>

    <customErrors mode="RemoteOnly" defaultRedirect="~/Account/error">
      <error statusCode="404" redirect="~/Account/error" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/SessionTimeout" name="ASPXFORMSAUTH_CareGiver" protection="All" path="/" timeout="60" />
    </authentication>

    <httpRuntime targetFramework="4.5" maxUrlLength="10999" maxQueryStringLength="2097151" maxRequestLength="30000000" />
    <compilation debug="true" targetFramework="4.5" />
    <profile enabled="false" inherits="CaregiverLite.Models.ProfileCommon" automaticSaveEnabled="false" defaultProvider="AspNetSqlProfileProvider">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ConStringCareGiver" applicationName="CaregiverLite" />
      </providers>
    </profile>
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConStringCareGiver" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="50" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1000" applicationName="CaregiverLite" />
      </providers>
    </membership>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ConStringCareGiver" applicationName="CaregiverLite" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <sessionState timeout="60" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxUrl="10999" maxQueryString="4294967295" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>