@*@model CaregiverLite.Models.AdminModel*@

@*@using (Html.BeginForm("ExcelReport", "AttendanceManagement", FormMethod.Post, new { @id = "fmGenerateExcelReport", @class = "horizontal-form", @enctype = "multipart/form-data" }))*@
{
    <div id="main_div">
       
        <div class="col-md-6">
           
            @*<div class="form-group">
                <label>From Date</label>
                <span style="color:red;">*</span>                
                @Html.TextBox("FromDate", new { @type = "text", @maxlength = "10", @placeholder = @CaregiverLite.Views.Resources.PatientRequest.PlaceHolderMedicalId, @class = "form-control", @tabindex = "1", @onblur = "javascript:GetPatientRequestDetailByMedicalID(this.value)" })
            </div>
           
            <div class="form-group">
                <label>To Date</label>
                <span style="color:red;">*</span>               
                @Html.TextBox("ToDate", new { @type = "text", @maxlength = "100", @placeholder = @CaregiverLite.Views.Resources.PatientRequest.PlaceHolderPatientName, @class = "form-control", @tabindex = "2", @readonly = "readonly" })
            </div>*@      
           Vinod Verma
            
        </div>        

    </div>
}