@*//@model CaregiverLite.Models.SchedulePatientRequestModel*@
@{

    //Layout = "~/Views/_ViewStart.cshtml";
    Layout = "~/Views/Shared/_LayoutPasevaCustomer.cshtml";

}





<link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="~/Content/css/dataTables.responsive.css" rel="stylesheet">
<link href="~/Content/css/dataTables.tableTools.min.css" rel="stylesheet">

<!-- LIST OF PATIENT START-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">


                    </div>*@
                <div class="ibox-content">
                    <input type="hidden" id="hdnPatientRequestId" />
                    <table id="myDataTable" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Patient</th>
                                <th>NurseName</th>
                                <th>Date</th>
                                <th>ID</th>
                                <th>Appointment Address</th>
                                <th>Pin Code</th>
                                <th>Appointment Status</th>
                                <th>Office</th>
                                @*<th>Rescheduled Details</th>*@
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>
<!-- LIST OF PATIENT END-->
<script src="~/Scripts/js/jquery.dataTables.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/js/oms.min.js"></script>

<script type="text/javascript">

    @*var tempMsg = '@TempData["Message"]';
    var tempFlag = '@TempData["error"]';

    if (tempFlag != "True") {
        if (tempMsg != "")
            toastr.success(tempMsg);
    }
    else {
        if (tempMsg != "")
            toastr.error(tempMsg);
    }*@

    var oTable;

    $(document).ready(function () {

        $("#loading").show();
        var jquey = jQuery.noConflict();
        oTable = $('#myDataTable').DataTable({

            responsive: true,
            "dom": 'lfrtip',

            "bPaginate": true,
            "bServerSide": true,

            "bSortable": true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sProcessing": "<div class=\"loading\" id=\"loading\" style=\"display: block;\"></div>"
            },
            "processing": true,

            "sAjaxSource": "GetReschedulingDetail",
            "fnServerData": function (sSource, aoData, fnCallback) {
                $.getJSON(sSource, aoData, function (json) {
                    fnCallback(json);
                }).fail(function (jqxhr, textStatus, error) {
                    window.location.reload();
                });
            },
            "fnServerParams": function (aoData) {
                //aoData.push({ "name": "FilterOfficeId", "value": $('#ddFilterOffice option:selected').val() });
            },
            "fnDrawCallback": function (oSettings) {
                //Navigation validation
                var rowsPerPage = this.fnSettings()._iDisplayLength;
                var rowsToShow = this.fnSettings().fnRecordsDisplay();
                var table = $('#myDataTable').DataTable();
                var info = table.page.info();
                var currentPageNo = info.page + 1;
                $("#loading").hide();
            },
            "responsive": {
                "details": {
                    "type": 'column'
                }
            },
            "aoColumns": [
                             {
                                 "sName": "Patient",
                                 "mRender": function (oObj) {
                                     return oObj["Patientname"];
                                 }
                             },
                             {
                                 "sName": "NurseName",
                                 "mRender": function (oObj) {
                                     return oObj["Nmae"];
                                 }
                             },
                           {
                               "sName": "Date",
                               "mRender": function (oObj) {
                                   return '<span>' + oObj["Date"] + '</span>';
                               }
                           },

                            {
                                "sName": "ID",
                                "mRender": function (oObj) {
                                    return oObj["ID"];
                                }
                            },

                             {
                                 "sName": "AppointmentAddress",
                                 "bSortable": false,
                                 "mRender": function (oObj) {
                                     return oObj["AppointmentAddress"];
                                 }
                             }, {
                                 "sName": "PinCode",
                                 "bSortable": false,
                                 "mRender": function (oObj) {
                                     return oObj["PinCode"];
                                 }
                             },
                              {
                                  "sName": "AppointmentStatus",
                                  "bSortable": false,
                                  "mRender": function (oObj) {
                                      return oObj["AppointmentStatus"];
                                  }
                              },
                              {
                                  "sName": "OfficeName",
                                  "mRender": function (oObj) {
                                      return oObj["Office"];
                                  }
                              },
                            //{
                            //    "sName": "Rescheduled Details",
                            //    "bSortable": false,
                            //    "mRender": function (oObj) {
                            //        var actionhtml = '';
                            //        actionhtml += '<a href="javascript:;" class="btn btn-xs btn-primary" style="margin-top:5px; width:100%;" onclick="EditAdmin(\'' + oObj["ID"] + '\',\'' + oObj["Patient"] + '\');">Click Here</a>'
                            //        return actionhtml;

                            //    }
                            //},


            ]

        });

        $('#myDataTable_filter input').unbind(); //Unbind direct search on each keypress
        $('#myDataTable_filter input').bind('keyup', function (e) { //Bind Keyup event that filter data only on "Enter" key.
            if (e.keyCode == 13) {
                oTable.search(this.value).draw();
            }
        });
        /* Init DataTables */
        $('.carousel').carousel({
            interval: false
        });

        var config = {
            '.chosen-select': {},
            '.chosen-select-deselect': { allow_single_deselect: true },
            '.chosen-select-no-single': { disable_search_threshold: 10 },
            '.chosen-select-no-results': { no_results_text: 'Oops, nothing found!' },
            '.chosen-select-width': { width: "95%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

        $("#loading").hide();

        ///Handle File Uploading start



    });



    function Filtration() {

        oTable.search($('#myDataTable').val()).draw();
    }
</script>
